<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>{% block title %}Symfony EscuelaIT{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    </head>
    <body>
        {% block header %}
        <nav class="navbar navbar-default">
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li{% if app.request.attributes.get('_route') == 'homepage' %} class="active"{% endif %}>
                        <a href="{{ path('homepage') }}">Inicio</a>
                    </li>
                    <li{% if app.request.attributes.get('_route') == 'forum_list' %} class="active"{% endif %}>
                        <a href="{{ path('forum_list') }}">Foros</a>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
            <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        {% endblock %}
    </body>
</html>