{% extends 'base.html.twig' %}

{% block body %}
    <h1>Esta es la home.</h1>
    <p>
        Si quieres ver el listado de foros pincha <a href="{{ path('forum_list') }}">aquí</a>
    </p>
{% endblock %}