<div class="row">
    <div class="col-sm-4 col-md-3 col-lg-2">
        <img style="width:100%"
             src="http://placehold.it/300x300.jpg"/>
    </div>
    <div class="col-sm-8 col-md-9 col-lg-10">
        <p>
            <a href="{{ path('profile_show', {username: post.author.username}) }}">
                @{{ post.author.username }}
            </a>
            <span>{{ post.createdAt | date('Y-m-d') }}</span>
        </p>
        {{ post.content | raw }}
    </div>
</div>

